body {
  background-image: url(../images/white-waves.png);  
}

.wrapper {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

h1,h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p,footer,form { 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }

.footer, 
.push {
    height: 50px
    border-top 8px solid #4aaaa5;
    
}
